.exp {
    padding: 40px 0;
  }
  .ali {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  .login-con {
    background: rgba(0, 0, 0, 0.52);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
  }
  .back {
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
    margin-top: 20px;
  }
  .lab-inp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
  }
  .inp {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    height: 40px;
    padding: 0 10px;
  }
  .fo-rem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  .rember-inp {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px 0;
  }
  .forgot {
    font-size: 12px;
    font-size: 600;
    color: #96cadb;
    text-decoration: none;
  }
  .l-btn {
    width: 140px;
    border: none;
    background: #2f6f84;
    color: #fff;
    border-radius: 8px;
    height: 40px;
    margin: 15px 0;
  }
  #dont {
    text-align: left;
  }

  .note-cons{
    background-color: rgb(2, 51, 56);
    margin-bottom: 20px;
  }

  .note-con-extra{
    height: auto;

  }

  .custom-text {
    font-size: 16px;
    color: #fff; 
    word-wrap: break-word; 
  }
  .custom-div {
    height: 100%;
    width: 100%;
    border: 1px solid #ccc; 
    display: flex; 
    border-radius: 20px;
    padding: 10px;
    

  }

  .page-con{
    background-color: rgb(242, 242, 242);
  }
  .text-heading{
    color: rgb(17, 17, 17)
  }
  .content-inp{
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
  }

  .content-inp:focus{
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
  }

  .content-inp::placeholder {
    color: #999;
  }

.title{
    padding-bottom: 10px;
}

.date{
    padding-bottom: 10px;
}

.icon-delete{
    color: rgb(247, 7, 7);
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

.icon-edit{
    color: rgb(234, 235, 239);
    margin-right: 10px;
    height: 15px;
    width: 15px;

}
  

  @media only screen and (max-width: 940px) {
    .login-con {
      width: 320px;
    }
    .exp {
      padding: 20px 0;
    }
    .ali {
      gap: 10px;
    }
  }
  @media only screen and (max-width: 440px) {
    .login-con {
      width: 100%;
    }
  }
  